<div>
<table class="table">
    <% 
        var fileResult = fileResults[file.filename];
        var processResults = fileResult.processResults;
    console.log("Proces results:" + JSON.stringify(processResults));
        for (processName in processResults) {
            var processResult = processResults[processName];
            var riskClass = processResult.riskClass;
            var riskTitle = processResult.riskTitle;
            var riskMessage = processResult.riskMessage;
    %>
    <tr class="<%= riskClass %>" >
        <td><%= riskTitle %></td>
        <td><%= riskMessage %></td>
    <%
        }
    %>
    </tr>
</table>
</div>
