

<div >
  Welcome to demo
    <form method="POST" action="uploadMultipleFiles"  enctype="multipart/form-data" >
        <div>
        <label for="claimDoc">File 1</label>
        <input type="file" id="file1" name="claimDoc"/>
        </div>
        <div>
        <label for="claimDoc">File 2</label>
        <input type="file" id="file2" name="claimDoc"/>
        </div>
        <div>
        <label for="claimDoc">File 3</label>
        <input type="file" id="file3" name="claimDoc"/>
        </div>
        <div><input type="submit" value="Upload"/></div>
    </form>
</div>
