<html>
  <head>
    <style type="text/css">
    </style>
  <title>Page Title</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <style type="text/css">
        .materialboxed {
          display: initial;
        }
        .img-style {
            height: 40%;
            width: 100%;
        }
      </style>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
      <script type="text/javascript">

        $(document).ready(function() {
          $('.collapsible').collapsible();
          $('.materialboxed').materialbox();
          var params = parseQueryString();

          var basePath = "uploads/";

          if (params["usedSoftware"] === "") {
            $("#temper").text("This image was not tempered by any software");
          } else {
            $("#temper").text("This image was tempered by " + params["usedSoftware"]);
          }
            
          $("#return_date").text("Image had older time stamps than return delivery date " + params["return_date"]);
          var obj = jQuery.parseJSON(unescape(params["creation_date"]));

          var html = "";
          for (key in obj) {
            html += "<div>" + key + ": " + obj[key] + "</div>";
          }
          // console.log(html);
          $("#creation_date").append(html);
            
          console.log("Pranav");
          console.log(basePath + params["mainImage"]);  
          $("#img-main").attr("src", basePath + unescape(params["mainImage"]));
            var maxImages = 0;
            var i = 1;
            
                var imgRow = $("<div>").appendTo($("#images"));
                imgRow.addClass("row");

            for (; i <= 5; ++i) {
                var imageParam = "img" + i;
                console.log("image:" + imageParam);
                if (params[imageParam] === undefined) {
                    break;
                }
                console.log("Adding image");
                var colDiv = $("<div>");
                colDiv.addClass("col").addClass("s2");
                var img = $("<img>");
                img.addClass("materialboxed").addClass("img-style");
                img.attr("src", basePath + unescape(params[imageParam]));
                var description = $("<div>");
                description.text(params[imageParam+"_percentage"] + " % similar");
                colDiv.append(img);
                colDiv.append(description);
                imgRow.append(colDiv);
            }
        });
          

        var parseQueryString = function() {
            var str = window.location.search;
            var objURL = {};

            str.replace(
                new RegExp( "([^?=&]+)(=([^&]*))?", "g" ),
                function( $0, $1, $2, $3 ){
                    objURL[ $1 ] = $3.replace(/%20/g," ");
                }
            );
            return objURL;
        };
    </script>
  </head>
  <body style="padding:100px;">
    <div style="text-align: center;">
      <img  class="materialboxed" id="img-main" src="" style="height: 272px;width:500px;">
    </div>
    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">chevron_right</i>
          Image similarity
        </div>
        <div class="collapsible-body" id="images">
          
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">chevron_right</i>
          Image attributes
        </div>
        <div class="collapsible-body">
          <div id="return_date">Image had older time stamps than return delivery date ()</div>
          <div id="creation_date">
            <!-- <div>adfbjhbsdf</div>
            <div>adfbjhbsdf</div> -->
          </div>
          </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">chevron_right</i>
          Image tempering
        </div>
        <div class="collapsible-body" id="temper">Image attributes was used to get the data</div>
      </li>
    </ul>
  </body>
</html>